.wrapper-main-img {
  position: relative;
}

.wrapper-main-img::before {
  content: "";
  width: 189px;
  height: 3px;
  transform: rotate(90deg) translateY(-150px) translateX(-20px);
  position: absolute;
  background: black;
  right: 0;
  top: 150px;
}

@media (max-width: 1230px) {
  .wrapper-main-img::before {
    display: none;
  }
}

.main-img {
  max-width: 100%;
}

.width {
  max-width: none;
}

@media (max-width: 585px) {
  .width {
    max-width: 100%;
  }
}
