.main-price {
  font-weight: 700;
  font-size: 30px;
}

.main-price + .main-price {
  margin-top: 10px;
}

.price-wrapper {
  margin-top: 20px;
}

@media (max-width: 1230px) {
  .price-wrapper {
    margin-left: 0;
    text-align: center;
  }
}

.green {
  color: green;
}

.lower {
  font-size: 20px;
}
