.second-section {
  padding: 100px 50px;
  background: #fddddd;
}

.wrapper-main-paragraph {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 140px;
  margin-top: 90px;
}
@media (max-width: 1410px) {
  .wrapper-main-paragraph {
    flex-direction: column;
  }
}

.bg-blue {
  background: #e8e2ff;
}

.second-section .img-margin {
  margin-top: 13vh;
}
